/* Google font link  */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-font: "EB Garamond", serif;
  --secondary-font: "Inter", sans-serif;;
  --primary-color: #2c3749;
  --secondary-color: #b3d4d9;
}

/* Global fonts */

h1, h2 {
  font-family: var(--primary-font);
}

img {
  max-width: 80vw;
}