/* Google font link  */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-font: "EB Garamond", serif;
  --secondary-font: "Inter", sans-serif;;
  --primary-color: #2C3749;
  --secondary-color: #36A7D5;
  --hightlight-color: #1d338a;
}

/* Global variables */

body {
  font-family: var(--primary-font);
  text-align: center;
  box-sizing: border-box;
  /* to make footer stick to bottom */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2 {
  font-family: var(--secondary-font);
}

.container {
  padding: 0;
}

img {
  max-width: 300px;
}
/* End of global variables */

/* button */

.button-style {
  background-color: var(--secondary-color);
  font-family: var(--secondary-font);
  border: 0;
  border-radius: 5px;
  font-size: 0.7em;
  width: 60px;
  height: 35px;
  text-align: center;
  padding: 0;
}

.button-style:hover {
  background-color: var(--hightlight-color);
  border: 1px solid white;
}

.button-style a {
  text-decoration: none;
  color: white;
}


/* Nav */

#navbar {
  background-color: var(--primary-color);
  padding: 0;
  margin-bottom: 10px;
}

.navbar-toggler {
  border: 0;
}

/* End of nav */

/* header */

header {
  margin-bottom: 30px;
}

header button {
  margin-bottom: 15px;
}


header p {
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
}

/* Main */

main p {
  margin-left: 15%;
  margin-right: 15%;
}

/* facilities section */

#facilities {
  margin-top: 10px;
  margin-left: 0;
}

#facilities img {
  width: 100%;
}

#facilities img + p {
  padding-top: 5px;
}

/* benefits section */

#benefits img {
  margin-bottom: 10px;
}

#benefits h3 {
  text-align: center;
}

#benefits ul {
  padding: 0;
}

#benefits li {
  list-style-type: none;
}

/* Booking form */

#booking-form .row {

}

#booking-form input, select {
  margin-bottom: 10px;
}

/* #booking-form {
  margin: 20px;
} */

/* footer */

#footer {
  background-color: var(--primary-color);
  color: white;
  padding-top: 10px;
  width: 100%;
  margin: 0;
}

#footer div{
  padding-bottom: 15px;
  padding-top: 15px;
}

#footer p {
  margin: 0;
}

#footer h2 {
  text-decoration: underline;
  margin-bottom: 10px;
}

#open-times table {
  margin: auto;
  padding: 5px;
  min-width: 33%;
}

#open-times tr:hover {
  background-color: #3d4653;
}

#footer table tr {
  border: 2px solid rgb(255, 255, 255);
}

#social-links a {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0 5px;

}

#social-links a:hover {
  color: rgb(184, 184, 184);
}

/* media queries */

/* for 576px screens and above (tables) */
@media screen and (min-width: 576px) {

}

/* for 768px screens and above (tables) */
@media screen and (min-width: 768px) {
  #benefits {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
  }

  #information {
    display: flex;
    justify-content: space-evenly;
  }
}

/* for 992px screens and above (tables) */
@media screen and (min-width: 992px) {
  #footer {
    display: flex;
    justify-content: space-evenly;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

/* for 1200px screens and above (tables) */
@media screen and (min-width: 1200px) {

}