/* Google font link  */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-font: "EB Garamond", serif;
  --secondary-font: "Inter", sans-serif;;
  --primary-color: #2C3749;
  --secondary-color: #b3d4d9;
}

/* Global variables */

body {
  font-family: var(--primary-font);
  text-align: center;
}

h1, h2 {
  font-family: var(--secondary-font);
}

.container {
  padding: 0;
}

/* End of global variables */

/* to make picture more visible - temp */
img {
  max-width: 80vw;
}

/* Nav */

#navbar {
  background-color: var(--primary-color);
  padding: 0;
}

.navbar-toggler {
  border: 0;
}

/* End of nav */

/* Main */

main {
  padding-left: 10vw;
  padding-right: 10vw;
}

/* facilities */

#facilities div {
  
}

/* media queries */